@model GestionScrumV3.Models.ProjectViewModel

@{
    ViewBag.Title = "Create Project";
}

@using (Html.BeginForm("Create", "Project", FormMethod.Post, new {@class = "form-horizontal", @role = "form", @id="CreateProjectForm" }))
{

   @Html.ValidationSummary(true) 

    <fieldset style="width:50%;">
        <legend>Create Project</legend>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.Name, new { @class="form-control" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            @Html.TextAreaFor(model => model.Description, new { @class="form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SprintDurationInDays, new { @class = "control-label" })
            @Html.DropDownListFor(model => model.SprintDurationInDays, Model.SprintDuration, new { @class="form-control" })
            @Html.ValidationMessageFor(model => model.SprintDurationInDays)
        </div>
    </fieldset>
    <fieldset style="width:50%;">
        <legend>Select Team or Create a new Team</legend>
        @if(Model.Teams != null)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.TeamId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.TeamId, Model.Teams, new { @class="form-control" })
                @Html.ValidationMessageFor(model => model.TeamId)
            </div>
        }
        <div class="form-group">
            @Html.LabelFor(model => model.TeamName, new { @class = "control-label" })
            @Html.TextBoxFor(model => model.TeamName, new { @class="form-control" })
            @Html.ValidationMessageFor(model => model.TeamName)
        </div>
    </fieldset>

    @Html.HiddenFor(x=>x.CreatorId)
    @Html.HiddenFor(x=>x.ProjectId)
    @Html.HiddenFor(x=>x.TeamId)

    <button type="submit" onclick="bootstrapValidate('CreateProjectForm');" class="btn btn-default">Create</button>
    @Html.ActionLink("retour à l'index", "Index", "Home") 
    
}
